<div
	style="
		width: 80%;
		height: 311px;
		background-color: #e56910;
		margin: 0 auto;
		display: flex;
	"
>
	<div style="display: grid; margin-left: 15%">
		<svg width="100" height="100">
			<circle cx="50" cy="50" r="35" fill="#99460B" />
		</svg>
		<svg width="100" height="100">
			<circle cx="50" cy="50" r="35" fill="#0e4174" />
		</svg>
		<svg width="100" height="100">
			<circle cx="50" cy="50" r="35" fill="#e1b87f" />
		</svg>
	</div>
	<div
		style="
			font-family: Arial, Helvetica, sans-serif;
			font-weight: bold;
			font-size: 90px;
			display: flex;
			align-items: center;
		"
	>
		<span style="margin: 0 90px"> Onde o CLL<br />está? </span>
	</div>
</div>

<div class="center-div">
	<div style="display: flex; align-items: flex-start">
		<img
			src="https://static.wixstatic.com/media/52cb94_71bcec8c5529400895fe23b2263ab1b9~mv2.png/v1/fill/w_128,h_128,al_c,q_85,usm_0.66_1.00_0.01/52cb94_71bcec8c5529400895fe23b2263ab1b9~mv2.webp"
		/>
		<div>
			<a
				mat-button
				href="https://www.instagram.com/clliberdade/?hl=pt-br"
				target="_blank"
				class="instagram-button"
				style="width: 365px; margin: 35px 0 0 35px"
				>@CLLIBERDADE</a
			>

			<span
				class="bold-medium"
				style="
					display: inline-block;
					width: 270px;
					margin: 20px 0 0 35px;
				"
				>Acompanhe nosso conteúdo
				<span style="background-color: #e56910">diário</span>
				no Instagram :)
			</span>
		</div>
	</div>
	<div></div>
	<div
		style="
			display: flex;
			align-items: center;
			flex-flow: column;
			margin: 80px 0 0 70px;
			text-align: center;
		"
	>
		<span class="bold-medium" style="display: inline-block; width: 310px"
			>Participe da nossa
			<span style="background-color: #e56910">comunidade</span> do
			Telegram!</span
		>
		<a
			href="https://t.me/joinchat/NIlwjRlMfLMi8Hi3HDqp6A"
			target="_blank"
			style="width: 128px; height: 128px; margin-top: 25px; z-index: 1"
		>
			<img
				src="https://static.wixstatic.com/media/52cb94_2c20a4cb153741ac88fc07c962b7841a~mv2.png/v1/fill/w_128,h_128,al_c,q_85,usm_0.66_1.00_0.01/52cb94_2c20a4cb153741ac88fc07c962b7841a~mv2.webp"
			/>
		</a>
		<div class="arrow-position" style="text-align: left; z-index: 0">
			<svg style="fill: #e56910">
				<g>
					<path
						d="M192.826 86.423c0-.661-.241-1.241-.573-1.758-.039-.061-.022-.14-.065-.199l-32.119-44.163a3.324 3.324 0 0 0-4.65-.735c-1.489 1.083-1.818 3.117-.735 4.603L182.958 83H50.595C24.891 83 6 103.51 6 130.583v16.06c0 1.84 1.66 3.33 3.5 3.33s3.5-1.489 3.5-3.33v-16.06C13 107.305 28.686 89 50.595 89h132.363l-28.273 39.249c-1.083 1.486-.754 3.755.735 4.838.592.429 1.275.731 1.954.731 1.031 0 2.045-.428 2.696-1.325l32.119-44.136c.043-.059.026-.126.065-.187.33-.518.572-1.086.572-1.747z"
					></path>
				</g>
			</svg>
		</div>
		<span
			class="arrow-text-position"
			style="font-size: 25px; font-weight: bold"
		>
			Só clicar aqui!
		</span>
	</div>
</div>

<div class="center-div">
	<img
		src="https://static.wixstatic.com/media/52cb94_15cff76e81394e2a890514c8aa048e87~mv2.png/v1/fill/w_138,h_128,al_c,q_85,usm_0.66_1.00_0.01/Gmail_2020.webp"
	/>
	<a
		mat-button
		href="mailto:cliderancasl@gmail.com"
		style="
			align-self: flex-end;
			margin: 0 0 20px 30px;
			height: 60px;
			padding-top: 10px;
			background-color: #e56910;
		"
	>
		<span style="font-size: 48px">CLIDERANCASL@GMAIL.COM</span>
	</a>
</div>

<div
	class="center-div"
	style="
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 110px;
	"
>
	<img
		src="https://freeiconshop.com/wp-content/uploads/edd/many-people-outline.png"
		style="width: 138px"
	/>

	<div class="bold-medium" style="width: 310px; margin-top: 20px">
		<span style="background-color: #e56910">
			Não hesite em nos contatar por qualquer meio!
		</span>
	</div>
</div>
