<div class="center-div" style="flex-direction: column; margin-top: 80px">
	<span class="bold-large" style="color: #e56910">O que é o CLL?</span>

	<div style="width: 560px; text-align: center; margin-top: 60px">
		<span class="normal-small">
			O CLL é uma comunidade de jovens com ambição de desenvolver tudo
			aquilo que a escola e a faculdade não ensinaram sobre liderança e
			desenvolvimento pessoal.
		</span>
	</div>

	<img
		src="https://static.wixstatic.com/media/52cb94_fda6e6f92f0a49ba9033ffba8bba1505~mv2.png/v1/fill/w_314,h_312,al_c,q_85,usm_0.66_1.00_0.01/Web_1920_%C3%A2%C2%80%C2%93_23.webp"
	/>
</div>

<div class="grid-container">
	<div style="background-color: #e56910">
		<div class="inner-spacing">
			<div style="width: 240px">
				<span class="normal-medium" style="width: 240px">
					<span style="font-weight: bold">Onde?</span> Instagram
					Telegram e Aqui.
				</span>
			</div>
			<div style="font-size: 20px; margin-top: 20px">
				<span>Estamos onde os jovens estão.</span>
			</div>
		</div>
	</div>
	<div>
		<div class="inner-spacing">
			<div style="width: 240px">
				<span class="normal-medium" style="width: 240px">
					<span style="font-weight: bold">Como?</span>
					Networking Cursos Artigos Eventos
				</span>
			</div>
			<div style="font-size: 20px; margin-top: 20px">
				<span>Uma comunidade é feita de proximidade.</span>
			</div>
		</div>
	</div>
	<div>
		<div style="margin-top: 25px">
			<div style="text-align: center; width: 85%; margin: 0 auto">
				<span
					class="normal-small"
					style="font-weight: 500; font-style: italic"
				>
					‘‘O CLL surgiu de uma ausência de atenção nas reais e atuais
					necessidades da juventude’’
				</span>
				<div style="margin-top: 45px">
					<p
						style="
							text-align: left;
							font-size: 27px;
							font-weight: lighter;
						"
					>
						Um pensamento já compartilhado por muitos jovens em
						nosso tempo: o quanto a educação de base
						<span style="color: #e56910">
							carece de ensinar habilidades tão necessárias
						</span>
						para o nosso desenvolvimento
					</p>
				</div>
			</div>
		</div>
	</div>
	<div>
		<img
			src="https://static.wixstatic.com/media/52cb94_2703e9e0ba5d427788ceba60297d804d~mv2.png/v1/fill/w_862,h_470,al_c,q_90,usm_0.66_1.00_0.01/Screenshot_1.webp"
		/>
	</div>
</div>
