.instagram-button {
	font-weight: bold;
	font-style: italic;
	background-color: #e56910;
	font-size: 46px;
	height: 70px;
	display: flex;
	padding-top: 15px;
}

.bold-medium {
	font-size: 30px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.arrow-position {
	margin-right: 240px;
	margin-top: 95px;
	position: absolute;
}

.arrow-text-position {
	position: absolute;
	margin-top: 250px;
	margin-right: 500px;
}

.center-div {
	display: flex;
	justify-content: center;

	margin-top: 50px;
}
